minecraft/logs/
minecraft/saves/
minecraft/server-resource-packs/
minecraft/xaero/
minecraft/XaeroWaypoints_BACKUP*/
minecraft/fancymenu_data/
*.log
*.tmp
minecraft/.cache/
minecraft/screenshots/
minecraft/crash-reports/
minecraft/usercache.json
minecraft/launcher_profiles.json
Thumbs.db
Desktop.ini
minecraft/servers.dat
minecraft/command_history.txt
minecraft/usercache.json
/minecraft/cache
/minecraft/debug
